name: Docs

on:
  push:
    branches:
      - main

concurrency:
  group: docs
  cancel-in-progress: false

jobs:
  docs:
    name: Generate Documentation
    runs-on: self-hosted-hoprnet-small

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: hoprnet/hopr-workflows/actions/setup-node-js@master
        with:
          node-version: 22.x

      - name: Create docs
        run: |
          rm -rf docs/*
          yarn docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: docs
          force_orphan: true
